@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.header</title>
</head>
<body>
    <div>
        <p>Helo World from the view</p>
    </div>
    <a asp-action="RsvpForm">RsvpForm</a>
</body>
</html>